<div class="left-top">
  <div class="current_user">
  <% if user_signed_in? %>
    <div class="user" >
      <%= link_to "/users/#{current_user.id}" do %>
        <% if current_user.image.present? %>
          <%= image_tag current_user.image, class: "user-img" %>
        <% else %>
          <%= image_tag "human.png", class: "user-img" %>
        <% end %>
      <% end %>
      <%= link_to "#{current_user.nickname}", "/users/#{current_user.id}", class: "user_link" %>
    </div>
  <% end %>
  </div>
  <%= link_to "New Room", new_room_path, class: :nav__btn %>
</div>

<div class="left-bottom">   
  <div class="left-bottom-title">友達</div>
  <% if user_signed_in? %>
    <% @users.each do |user| %>
    <div class="user" >
      <% if user.id != current_user.id %>
        <%= link_to "/users/#{user.id}" do %>
          <% if user.image.present? %>
            <%= image_tag user.image, class: "user-img" %>
          <% else %>
            <%= image_tag "human.png", class: "user-img" %>
          <% end %>
        <% end %>
        <%= link_to "#{user.nickname}", "/users/#{user.id}", class: "user_link" %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>